{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=>
    {% if not user.photo_user %}
        <img src="{% static "no_avatar.jpg" %}" width=300px height=300px>
    {% else %}
        <img src="{{user.photo_user.url }}" width=300px height=300px>
    {% endif %}
    <form method="post" action="{% url 'photo_add' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form_photo.as_p}}
        <button name="submit" value="submit">Изменить фото</button>
    </form>
    <p>Имя пользователя:{{user.name}}</p>
    <form method="post" action="{% url 'rename' %}">
        {% csrf_token %}
        {{form_rename.as_p}}
        <button name="submit" value="submit">Переименовать</button>
    </form>
    <p>Email: {{user.email}}</p>
    <p>Username: {{user.username}}</p>
    <p>Количество дел: {{count_todo}}</p>
</div>
{% endblock content %}