{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="place-self-center bg-neutral-200 border-solid border-black border-4 rounded-md p-3 mt-3">
    <p class="text-2xl text-center">Добавить задачу</p>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <p class="text-center mt-1"><button type="submit" name="submit" value="Add" class="bg-slate-500 
        hover:bg-slate-600 border-2 border-solid border-black p-1 
        rounded-md ">Добавить</button></p>
    </form>
</div>
<input class="border-2 hover:rotate-45 transition bg-neutral-300 rounded-sm p-2 pl-2 hover:bg-neutral-200 focus:bg-neutral-100 hover:border-blue-950 focus:border-3 hover:border-3">
{% else %}
<h1>Добавление задач доступно для авторизованных пользователей. <a href="{% url 'login' %}">Войти</a></h1>
{% endif %}
{% endblock content %}
{% block title %}Добавить{% endblock title %}