{% extends "base.html" %}
{% load static %}
{% block content %}
{% for user in users %}
<p><div class="ml-3 flex-col bg-slate-100 border-solid border-2 rounded-md w-96">
    <a href="{% url "users" %}?id={{user.id}}">
    {% if not user.photo_user %}
            <img class="rounded-md h-32 w-auto" src="{% static "no_avatar.jpg" %}">
        {% else %}
            <img class="rounded-md h-32" src="{{user.photo_user.url }}">
        {% endif %}
        <div>
    {{user.name}}</div></a></div></p>
{% empty %}
{% endfor %}
{% endblock content %}
{% block title %}Пользователи{% endblock title %}